@import "./partials/reset";
@import "./partials/basic-style";
@import "./partials/colors";
@import "./partials/layout";
@import "./partials/navigation";
@import "./partials/prefix-mixins";
@import "./partials/typography";

// Variables
$screen-width: 40em;
$base-padding: 2em;
$max-width: 100%;
$column-1: 1;

@mixin size-planets {
  margin-top: 1.5em;
  background-size: 100% 100%;
  content: "";
  padding: 1em;
  position: absolute;
  height: 45px;
  width: 45px;
  max-width: 100%;
  left: -90px;
}

body {
  @include box-sizing(border-box);
  height: 100%;
  background-image: url(background-img.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}

// Sidebar
.wrapper,
.design-selection,
.design-archives,
.zen-resources {
  padding: 0.5em;
}

.sidebar .wrapper {
  background-color: $color-4;
  color: $color-2;
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: -75%;
  transition: all 0.4s ease-in-out;
  @include navigation-1;
}

a {
  @include navigation-1;
}

.design-name,
.designer-name,
.next a,
.viewall a,
.zen-resources ul li a {
  @include navigation-2;
}

header {
  position: relative;
  background: url(header-image.svg) no-repeat center;
  display: flex;
  flex-direction: column;
  margin-top: -7em;
  width: 100%;
  height: 400px;

  text-align: left;
  justify-content: center;
  transition: 1s ease-in;

  h1 {
    width: 100%;
    margin-left: 4em;
    top: 90px;
    position: absolute;
    transition: 1s ease-in;
  }

  h2 {
    width: 100%;
    margin-left: 5em;
    top: 110px;
    position: absolute;
    transition: 1s ease-in;
  }

  @include MQ("S") {
    background-image: url(header-image.svg) no-repeat;
    transform: scale(1.58);
    grid-column: 1;
    width: 192%;

    h1,
    h2 {
      margin-left: 12em;
      margin-top: 2.5em;
    }

    h2 {
      top: 145px;
      left: 80px;
    }
  }
}

.summary {
  top: 100px;
  max-width: 55%;
  margin-left: 2em;
  position: absolute;
  transition: 1s ease-out;
  text-align: center;

  & p {
    font-size: 13px;
    margin-bottom: 1em;
  }

  @include MQ("S") {
    width: 22%;
    top: 185px;
    text-align: center;
    grid-column: $column-1;
    margin-left: 6.3em;
  }
}

.preamble p,
.preamble h3,
.explanation p,
.explanation h3,
.participation p,
.participation h3,
.benefits p,
.benefits h3,
.requirements p,
.requirements h3 {
  margin-top: 3rem;
  position: relative;
  margin-left: 13rem;
  margin-right: 2.5em;
}

.main {
  @include MQ("S") {
    // margin-left: 24%;
    width: 100%;
    margin-top: -6em;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.preamble {
  margin-top: 3em;

  @include MQ("S") {
    margin-top: 12em;
    // margin-left: 15%;
    width: 100%;
  }

  &.preamble p::before {
    background-image: url(sun.png);
    @include size-planets();
    height: 55px;
    width: 55px;
    left: -95px;
    margin-top: 0.2em;

    animation: rotation 7s infinite linear;
  }

  &.preamble p:nth-of-type(2)::before {
    background-image: url(images/mercury@4x.png);
    @include size-planets();
  }

  &.preamble p:nth-of-type(3)::before {
    background-image: url(images/Venus@4x.png);
    @include size-planets();
  }
}

.explanation {
  &.explanation p::before {
    background-image: url(images/tierra@4x.png);
    @include size-planets();
    width: 42.5px;
    animation: rotation 7s infinite linear;
  }

  &.explanation p:nth-of-type(2)::before {
    background-image: url(images/marte@4x.png);
    @include size-planets();
    width: 50px;
  }
}

.participation {
  &.participation p::before {
    background-image: url(images/jupiter@4x.png);
    @include size-planets();
    animation: rotation 7s infinite linear;
  }

  &.participation p:nth-of-type(2)::before {
    background-image: url(images/saturno@4x.png);
    @include size-planets();
    height: 42px;
    width: 55px;
  }

  &.participation p:nth-of-type(3)::before {
    background-image: url(images/urano@4x.png);
    @include size-planets();
  }
}

.benefits p::before {
  background-image: url(images/neptuno@4x.png);
  @include size-planets();
  animation: rotation 7s infinite linear;
}

.requirements {
  &.requirements p::before {
    background-image: url(images/pluton@4x.png);
    @include size-planets();
    height: 55px;
    width: 55px;
    animation: rotation 7s infinite linear;
  }

  &.requirements p:nth-of-type(2)::before {
    background-image: url(images/luna@4x.png);
    @include size-planets();
  }

  &.requirements p:nth-of-type(3)::before {
    background-image: url(images/galaxia@4x.png);
    @include size-planets();
    width: 60px;
  }

  &.requirements p:nth-of-type(4)::before {
    background-image: url(images/rocket@4x.png);
    @include size-planets();
  }

  &.requirements p:nth-of-type(5)::before {
    background-image: none;
    width: 0;
    height: 0;
  }
}

div.requirements p:last-child::after {
  @include MQ("S") {
    content: "" url(../src/images/rocket@4x.png);
    margin-top: 10rem;
    max-width: 100%;
    display: block;
  }
}

h3 {
  color: $color-3;
  font-size: 2rem;
  padding-top: 1em;
}

footer {
  margin-top: $base-padding;
  text-align: center;
  max-width: 100%;
}

// Media queries
@include MQ("S") {
  .page-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 1em;
    max-width: $max-width;
    justify-items: center;
  }

  section#zen-intro.intro,
  div#zen-supporting.main.supporting {
    grid-column: $column-1;
    padding: $base-padding;
    width: $screen-width;
    max-width: $max-width;
  }

  .sidebar {
    right: 0%;
    position: fixed;
    max-width: $max-width;

    & .wrapper {
      width: 100%;
      display: flex;
      width: 100%;
      height: 100vh;
      position: relative;
      top: 0;
      right: 0;
    }

    & h3 {
      text-align: left;

      & .select {
        margin: 10px 0 5px 0;
        width: 97px;
        height: 16px;
      }

      & .archives {
        margin: 25px 0 5px 0;
        width: 57px;
        height: 14px;
      }

      & .resources {
        margin: 25px 0 5px 0;
        width: 63px;
        height: 10px;
      }
    }
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      color: $color-1;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      line-height: 1.3em;
      padding-top: 5px;
      margin-bottom: 5px;
      list-style-type: none;

      &:visited {
        color: $color-7;
      }

      &:hover {
        color: $color-4;
        text-decoration: underline;
      }

      &:active {
        border: 1px dashed $color-8;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-around;
    width: auto;
    text-align: center;
    margin-top: 5rem;

    & a::after {
      background-image: url(images/luna@4x.png);
      @include size-planets();
      grid-column: 2;
    }

    & a:nth-of-type(2)::after {
      background-image: url(images/luna@4x.png);
      @include size-planets();
      grid-column: 3;
    }

    & a:nth-of-type(3)::after {
      background-image: url(images/luna@4x.png);
      @include size-planets();
      grid-column: 2;
    }

    & a:nth-of-type(4)::after {
      background-image: url(images/luna@4x.png);
      @include size-planets();
      grid-column: 3;
    }

    & a:nth-of-type(5)::after {
      background-image: url(images/luna@4x.png);
      @include size-planets();
      grid-column: 2;
    }
  }
}
